<html>        
  <head>

    <style type="text/css">
        

    </style>

<script type="text/x-class-definition">

//<![CDATA[      

defineClass("Textend_container_component", "core.display.Telement", { 
  
	baseElement: "div",	

  	constructor: function(args){
    	this._super.constructor.call(this,args);  
 	},

});
//]]>
</script>

</head>
<body>	
<h1>Extend a container component</h1>

<h3>Create the file <code>TpanelExt.html</code> in "components" directory</h3>

    <div data-compo="ui.TcodeHighlight.html" data-source-classpath="components.TpanelExt.html" id="codeCompo1" autoload="true" data-max-height="500px"/>
      <h4>Notes:</h4>
    <ul>
        <li>The <code>&lt;body&gt;</code> of this component is injected in the <code>&lt;!--CONTENT--&gt;</code> of the parent.</li>
        <li>Like each container component, it contains a <code>&lt;!--CONTENT--&gt;</code> element.</li>
    </ul>

    <h3>Modify <code>app.html</code></h3>
    <p>In app.html <code>&lt;body&gt;</code>, replace <code>Tpanel</code> by <code>TpanelExt</code></p>

     <div data-compo="ui.TcodeHighlight.html">
&lt;body&gt;
  &lt;p&gt;&lt;code&gt;app.html&lt;/code&gt; component&lt;/p&gt;
  &lt;div data-compo="components.TpanelExt.html"&gt;
    &lt;h4&gt;Normal DOM element&lt;/h4&gt;
    &lt;div data-compo="components.TtestButton.html"/&gt;
    &lt;div data-compo="components.TtestButtonExt.html"/&gt;
  &lt;/div&gt;
&lt;/body&gt;
     </div>

  

  <h3>Result</h3>

  <div data-compo="components.app5.html"/>

<!--
    <article>
      <div class="row">  
          <div class="col-sm-12" >
              <h3>Simple button component</h3>  
          </div>
      </div>
      <div class="row">    
          <div class="col-sm-6" >    
              <div data-compo="ui.TcodeHighlight.html">&lt;div data-compo="app.TtestButton.html"/&gt; </div> 
          </div>
          <div class="col-sm-6" >
              <div data-compo="app.TtestButton.html">  </div> 
          </div>
      </div>
  </article>
-->

</body>



</html>	
