<html>        
  <head>
    <style type="text/css">
        
        .Tmain a:visited, a:focus, a:active, a:hover, button{
          outline:0 none !important;
          cursor:pointer;
        }
        .Tmain input{
          outline:0 none !important;
        }
     
    </style>

    <script type="text/x-class-definition">

//<![CDATA[      

defineClass("Tmain", "core.display.Telement", { 

	baseElement: "div",	

  	constructor: function(args){
    	this._super.constructor.call(this,args);  
      this.btn4.on("click", this.onBtn4click.bind(this));
 	},
  onBtn4click: function(e){
    uses("ui.Talert.html");
    var mess = "<article>\
    <p>If ever there was evidence of God, the humble pea is it.</p>\
    <p>Mother Nature has never created something of such perfection, something that takes Darwin's theory of evolution to the extent that a natural element can, over millions of years, evolve into something so flawless.</p>\
    <aside class=\"pquote\">\
      <blockquote>\
        <p>It is not an exaggeration to say that peas can be described as nothing less than perfect spheres of joy.</p>\
      </blockquote>\
    </aside>\
    <p>The green seed of the white-flowering climbing leguminous papilionaceous plant, pisum sativum, has become a dining-table favourite for good reason.</p>\
    <p>The perfect accompaniment to any meal, the diminutive spherical vegetable brings joy to billions worldwide, be they fresh, frozen, canned or dried.</p>\
    <p>Even leaving aside the astounding nutritional package, the taste explosion and texture of a well cooked pea is undeniably enough to award this deceptively simple seed the gold-medal of the foodstuff Olympics.</p>\
    <p>There is debate surrounding the tampering of the form of the original spherical vegetable. The question as to whether the 'mushy' pea is sacrilege or an innovative approach to re-package the perfect product is a sensitive issue. A similar argument arises when approaching the relatively new craze of mangetout. In-depth study is required, but for now it is too early to assess the true importance of this baby pea pod.</p>\
    <p>In its original form, the pea is a giant amongst food products and a deity of the vegetable world. It is not an exaggeration to say that peas can be described as nothing less than perfect spheres of joy.</p>\
  </article>";

    Talert.warn(mess, [Talert.YES, Talert.NO], null, null, null, "title", true)  ;
  }
  
 
});
//]]>
</script>

</head>
<body>	
 <div class="container" role="main">
  <div class="row">    
    <div class="col-sm-10" >
      
      <h3>Simple button component</h3>  
      <pre>&lt;div id="btn1" data-compo="app.TtestButton.html"/&gt; </pre>
      <div id="btn1" data-compo="app.TtestButton.html">  </div> 

      <hr/>

      <h3>Panel component</h3>
      <pre>&lt;div id="panel1" data-compo="app.Tpanel.html"/&gt;</pre>
      <div id="panel1" data-compo="app.Tpanel.html"/>  
      <hr/>


      <h3>Panel containing the simple button</h3>  
      <pre>&lt;div id="panel2" data-compo="app.Tpanel.html"&gt;
  &lt;div id="btn2" data-compo="app.TtestButton.html"/&gt;
&lt;/div&gt;</pre>
      
      <div id="panel2" data-compo="app.Tpanel.html">  
        <div id="btn2" data-compo="app.TtestButton.html">  </div> 
      </div> 

      <hr/>
      <h3>Extending Panel component</h3>
      <pre>&lt;div id="panel3" data-compo="app.TpanelExt.html"/&gt;</pre>
      <div id="panel3" data-compo="app.TpanelExt.html"/>  
     

      <hr/>
      <h3>Extended Panel containing the simple button</h3>
      <pre>&lt;div id="panel4" data-compo="app.TpanelExt.html"&gt;  
  &lt;div id="btn3" data-compo="app.TtestButton.html"/&gt;
&lt;/div&gt;</pre>

       <div id="panel4" data-compo="app.TpanelExt.html">  
       <div id="btn3" data-compo="app.TtestButton.html"/>  </div> 


       <hr/>
       <h3>ui.TslideControl.html</h3>
        <div id="slider1" data-compo="ui.TslideControl.html"/>  

         <hr/>
       <h3>ui.Talert.html</h3>
        <button class="btn btn-success" id="btn4">Click here to show alert</button>


        <br/><br/>
    </div>
  </div>
</div>
</body>
</html>	